<h1 mat-dialog-title>Add Notes</h1>
<div mat-dialog-content>
    <form [formGroup]="addNoteForm">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>ID</mat-label>
                        <input matInput formControlName="id">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="title">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Body</mat-label>
                        <input matInput formControlName="body">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Person Form Id</mat-label>
                        <input matInput formControlName="personFormId">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Note Type Id</mat-label>
                        <input matInput formControlName="noteTypeId">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Candidate Id</mat-label>
                        <input matInput formControlName="candidateId">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Person Event Registry Id</mat-label>
                        <input matInput formControlName="personEventRegistryId">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>User Id</mat-label>
                        <input matInput formControlName="userId">
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field appearance="fill">
                        <mat-label>UserName</mat-label>
                        <input matInput formControlName="userName">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>    
</div>
<div mat-dailog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dailog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addNote()">{{actionBtn}}</button>
</div>